# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Sublime Text Projects files
*.sublime-workspace
*.sublime-project

# PhpStorm Project Files
*.idea/

# Sass Files
*.sass-cache/

# Project Resource Folders
*_resources/

# Dandilion Config Files
*dandelion.yml

# Django project local settings files
*dan_settings.py