# Ignore Vim files specific to this directory
.netrwhist
backups/*
undo/*

# Ignore all bundles except for Vundle.
# Installs are managed by the Vundle plugin.
bundle/*
!bundle/Vundle.vim

# Ignore swap files
swaps/*
